#background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
}

#content {
    overscroll-behavior: contain;
    z-index: 10;
    display: none;
    color: blanchedalmond !important;
}